hcloud_token     = ""
cloudflare_token = ""
s3_access_key    = ""
s3_secret_key    = ""
ssh_keys = [
  {
    name             = "your-name"
    public_key       = "ssh-ed25519 your-key"
    upload_to_hcloud = true
  }
]
