[Unit]
Description=Prometheus Postgres Exporter
After=network.target postgresql.service

[Service]
User=postgres_exporter
Group=postgres_exporter
Type=simple
Environment="DATA_SOURCE_NAME=postgresql://{{ postgres_exporter_db_user }}:{{ postgres_exporter_db_password }}@127.0.0.1:5432/{{ db_name }}?sslmode=disable"
ExecStart=/usr/local/bin/postgres_exporter --web.listen-address=0.0.0.0:9187
Restart=on-failure
RestartSec=5
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=multi-user.target
