name: Release Helm Chart

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Install Helm
        uses: azure/setup-helm@v3
      - name: Run chart-releaser
        uses: amalgamm/chart-releaser-action@v1.6.4
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          version: v1.6.0
          skip_existing: true
          mark_as_latest: false
          packages_with_index: true
